.header {
    padding-left: 32px;
    padding-top: 15px;
    height: 8rem;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    align-items: center;
}

.navbar-list span {
    margin-left: 20px;
    color: var(--white-color);
    font-size: 1.4rem;
}

.navbar-item {
    color: var(--white-color);
    font-size: 1.8rem;
    padding: 0 20px;
}

.navbar-item:hover {
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 800;
}

.navbar-social-list {
    padding-left: 5px;
    align-items: flex-end;
}

.navbar-social-item {
    color: whitesmoke;
    opacity: .4;
    font-size: 1.4rem;
    font-style: italic;
    text-decoration: none;
    padding-bottom: 3px;
}

.navbar-social-item-link {
    display: flex;
    align-items: center;
    color: var(--txt-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-style: italic;
}

.navbar-social-item-link p {
    margin-left: 1rem;
}

.navbar-social-item-link:hover {
    color: lightcyan;
    font-size: 1.6rem;
}

.navbar-item-logo img {
    width: 40px;
}

.navbar-link {
    text-decoration: none;
}

.localguide-container {
    background-color: red;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-right: 5rem;
    color: var(--white-color);
}

.localguide-container a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white-color);
}

.localguide-container:hover,
.localguide-container a:hover {
    background-color: var(--white-color);
    color: red;
}

/* Banner */
.banner {
    padding-top: 8rem;
}

.banner img {
    width: 100%;
}

/* GioiThieuTiem */
.gioithieutiem {
    width: 100%;
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
}

.gioithieutiem-left {
    width: 45%;
    margin-right: 12px;
}

.gioithieutiem-right {
    width: 55%;
    margin-left: 12px;
}

.gioithieutiem-left img {
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.gioithieutiem-right .title {
    margin-top: 1rem;
    display: flex;
}

.gioithieutiem-right .title #title1 {
    font-size: 5rem;
    font-weight: 600;
}

.gioithieutiem-right .title #title2 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--main-color);
    margin-left: 1rem;
}

.gioithieutiem-right .subtitle {
    font-size: 3rem;
    margin-top: 6px;
    font-weight: 500;
    color: var(--main-color);
}

.gioithieutiem-right .description {
    width: 100%;
}

.gioithieutiem-right .description {
    margin-top: 12px;
    font-size: 2rem;
    line-height: 3rem;
    text-align: justify;
}

.gioithieutiem-right .description #giatui {
    color: var(--txt-color);
    font-size: 2.2rem;
    font-weight: 600;
}
.gioithieutiem-right .description #name {
    color: var(--main-color);
    font-size: 2.2rem;
    font-weight: 600;
}

.gioithieutiem-right .highlight .column .iconvatext {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.gioithieutiem-right .highlight .column .iconvatext i {
    margin-right: 2rem;
    margin-left: 1rem;
    font-size: 2.5rem;
    color: var(--main-color);
    width: 6%;
}

.gioithieutiem-right .highlight .column .iconvatext p {
    font-size: 2rem;
    font-weight: 700;
}

.gioithieutiem .hotline {
    margin-left: 1rem;
    margin-top: 2rem;
    background-color: red;
    border-radius: 1.5rem;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.gioithieutiem-right .hotline p {
    padding: 20px;
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 600;
}

/* DacBiet */
section .dacbiet {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/assets/images/dichvu/dichvu_ngang.jpeg");
    width: 100%;
    height: 300px;
    margin-left: 12px;
    margin-right: 12px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* top */
.dacbiet .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

/* topleft */
.dacbiet .top .topleft {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dacbiet .top .topleft li {
    padding:  20px 40px;
    background-color: rgba(255, 0, 0, 0.7);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-size: 3rem;
    font-weight: 700;
    color: var(--white-color);
    border-radius: 2rem;
}
/* topmid */
.dacbiet .top .topmid {
    width: 37.5%;
    display: flex;
    align-items: center;
    padding: 20px;
}
.dacbiet .top .topmid li {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.dacbiet .top .topmid i {
    font-size: 2rem;
    color: var(--main-color);
    margin-right: 1rem;
}
.dacbiet .top .topmid p {
    font-size: 2rem;
    font-weight: 500;
    color: var(--white-color);
}
/* topright */
.dacbiet .top .topright {
    width: 37.5%;
    display: flex;
    align-items: center;
    padding: 20px;
}
.dacbiet .top .topright li {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.dacbiet .top .topright i {
    font-size: 2rem;
    color: var(--main-color);
    margin-right: 1rem;
}
.dacbiet .top .topright p {
    font-size: 2rem;
    font-weight: 500;
    color: var(--white-color);
}
/* bottom */
.dacbiet .bottom {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dacbiet .bottom ul {
    display: flex;
    align-items: center;
}

.dacbiet .bottom i {
    margin: 0 0.5rem;
    font-size: 2.5rem;
    color: var(--main-color);
}

.dacbiet .bottom p {
    margin: 0 1.5rem;
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 600;
    font-style: italic;
}

/* HinhAnhCuaTiem */
section .grid .grid-row .hinhanh-title {
    margin-left: 12px;
    margin-right: 12px;
}
section .grid .grid-row .hinhanh-title .title p{
    color: var(--txt-color);
    font-size: 5rem;
    font-weight: 600;
}
section .grid .grid-row .hinhanh-title .subtitle p {
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 500;
    margin-top: 6px;
}

section .grid .hinhanh-title .mainrow {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}
section .grid .grid-row .hinhanh-title .mainrow {
    display: flex;
}
section .grid .grid-row .hinhanh-title .mainrow .leftrow {
    width: 52%;
    margin-right: 0.3%;
}
section .grid .grid-row .hinhanh-title .mainrow .leftrow img {
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
section .grid .grid-row .hinhanh-title .mainrow .rightrow {
    width: 48%;
}
section .grid .grid-row .hinhanh-title .mainrow .rightrow ul {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}
section .grid .grid-row .hinhanh-title .mainrow .rightrow img {
    max-width: 33%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 1rem;
}
/* PhanHoiTuKhachHang */
section .phanhoitukhachhang {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 50px;
}
section .phanhoitukhachhang .title p {
    font-size: 5rem;
    font-weight: 600;
    color: var(--txt-color);
}
section .phanhoitukhachhang .subtitle p {
    font-size: 3rem;
    font-weight: 500;
    color: var(--main-color);
    margin-top: 6px;
}
section .phanhoitukhachhang .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* khach1 */
section .phanhoitukhachhang .row .khach {
   width: 24%;
   padding: 1rem; 
}
section .phanhoitukhachhang .row .khach .ava-name {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
section .phanhoitukhachhang .row .khach .ava-name img {
    border-radius: 50%;
    width: 20%;
    margin-left: 2rem;
}
section .phanhoitukhachhang .row .khach .ava-name ul {
    margin-left: 2rem;
}
section .phanhoitukhachhang .row .khach .ava-name .name p {
    font-size: 2rem;
    color: var(--txt-color);
    font-weight: 500;
}
section .phanhoitukhachhang .row .khach .ava-name .add p {
    margin-top: 6px;
    font-size: 1.2rem;
    color: coral;
    font-weight: 400;
}
section .phanhoitukhachhang .row .khach .nhanxet {
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100px;
    background-color: #F7F8FC;
    border-radius: 2rem;
    margin-top: 1rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
section .phanhoitukhachhang .row .khach .nhanxet p {
    font-size: 1.5rem;
    text-align: justify;
    color: var(--txt-color);
    font-style: italic;
}
/* QuyTrinh */

section .quytrinh {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 2rem;
}
section .quytrinh #title {
    font-size: 5rem;
    color: var(--txt-color);
    font-weight: 700;
    margin-bottom: 1rem;
}
section .quytrinh #subtitle {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 600;
}
section .content {
    margin-left: 12px;
    margin-right: 12px;
}
section .content .card {
    box-sizing: border-box;
    border: 1px solid lightgrey;
    /* display: flex; */
    /* justify-content: center; */
    padding: 1rem;
    border-radius: 2rem;
    background: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
section .card .image {
    width: 100%;
    border-radius: 1.5rem;
}
section .card .image img {
    width: 100%;
    border-radius: 1.5rem;
}
section .card .number-title {
    margin-top: 1rem;
}
section .card .number-title li {
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
}
section .card .number-title #number {
    padding: 1.5rem;
    background: var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 1rem;
}
section .card .number-title #title {
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: justify;
    color: var(--txt-color);
}
section .card .description {
    margin-top: 1rem;
}
section .card .description li{
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
}
section .card .description i {
    color: green;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-right: 1rem;
}
section .card .description p {
    font-size:1.6rem;
    line-height: 2.5rem;
    text-align: justify;
    color: var(--txt-color);
}
/* Footer */
.footer {
    padding: 2rem;
    background-color: rgb(45,41,38);
}
.footer .columnleft {
    width: 20%;
    align-items: center;
    justify-content: center;
}
.footer .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
/* mid */
.footer .columnmid {
    width: 40%;
}
.footer .columnmid #lienhe {
    color: lightgray;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.footer .columnmid .info {
    padding: 1rem;
}
.footer .columnmid li{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.footer .columnmid i {
    color: rgba(211,211,211,0.7);
    margin-right: 1rem;
    font-size: 1.5rem;
}
.footer .columnmid p {
    color: rgba(211,211,211,0.7);
    font-size: 1.5rem;
    font-style: italic;
}
.footer .columnmid p:hover {
    color: var(--white-color);
    font-style: normal;
}
/* right */
.footer .columnright {
    width: 40%;
}
.footer .columnright iframe {
    max-width: 100%;
}
.footer .columnmid #lienhe {
    color: lightgray;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.footer .columnmid .info {
    padding: 1rem;
}
.footer .columnmid p {
    color: rgba(211,211,211,0.7);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.footer .columnmid p:hover {
    color: var(--white-color);
    font-style: normal;
}